@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad.ttf") format("truetype");
}

@font-face {
    font-family: "Estedad_Medium";
    src: url("../fonts/Estedad-Medium.ttf") format("truetype");
}


@font-face {
    font-family: "Estedad_Black";
    src: url("../fonts/Estedad-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Estedad_Bold";
    src: url("../fonts/Estedad-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Vazirmatn";
    src: url("../fonts/Vazirmatn.ttf") format("truetype");
}
@font-face {
    font-family: "FiraCode";
    src: url("../fonts/FiraCode.ttf") format("truetype");
}